<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мессенджер</title>
    <link href="{% static 'messenger/active.css' %}" rel="stylesheet">
</head>
<body>
     <div class="menu-overlay" id="menuOverlay">
        <div class="menu-item"><a href="{% url 'profile' user.username %}">Профиль</a></div>
        <div class="menu-item"><a href="{% url 'search' %}">Поиск пользователей</a></div>
        <div class="menu-item"><a href="{% url 'logout' %}">Выйти</a></div>
    </div>
    <div class="sidebar">
    <div class="header">
        <div class="burger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>

            <div class="avatar-icon">
                <p>{{ user.username}}</p>
            </div>
        </div>
        <div class="search-box">
            <input type="text" placeholder="Поиск...">
        </div>
        <div class="contacts">
            {% for user_chat,status in chat_list_map.items %}
                <div class="contact">
                    <a href="{% url 'chat' status.chat_id status.user %}">
                    <div class="avatar-con">
                        <div class="avatar">
                            {% if status.user_object.photo %}
                                <img src="{{ status.user_object.photo.url }}">
                            {% else %}
                                <img src="{% static 'no-profile-picture-icon.webp' %}">
                            {% endif %}
                        </div>
                        {% if status.is_online %}
                                 <span class="online-status"></span>
                        {% endif %}
                    </div>
                        <div class="contact-info">
                                    <div class="name">
                                            {{ status.user }}
                                    </div>
                            <div class="last-message" style="color: #a3a3a3;font-size: 12px">{{ status.last_message }}</div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        </div>
    <div class="chat-container">
        <div class="chat-header">
            <div class="avatar-con">
                 <div class="avatar">
                      {% if chat_between.first_user.id != user.id %}
                          {% if chat_between.first_user.photo %}
                            <img src="{{ chat_between.first_user.photo.url }}">
                          {% else %}
                                <img src="{% static 'no-profile-picture-icon.webp' %}">
                          {% endif %}
                      {% else %} 
                          {% if chat_between.second_user.photo %}
                            <img src="{{ chat_between.second_user.photo.url }}">
                          {% else %}
                                <img src="{% static 'no-profile-picture-icon.webp' %}">
                          {% endif %}
                      {% endif %}
                </div>
                {% if is_online %}
                    <span class="online-status"></span>
                {% endif %}
            </div>
            <div class="name">
                {% if chat_between.first_user.id != user.id %}
                    <a style="text-decoration: none;color: white" href="{% url 'user_profile' chat_between.first_user %}">{{ chat_between.first_user }}</a>
                {% else %}
                    <a style="text-decoration: none;color: white" href="{% url 'user_profile' chat_between.second_user %}">{{ chat_between.second_user }}</a>
                {% endif %}
            </div>
        </div>
        <div class="chat-messages" id="messages">
            {% for message in messages %}
                {% if message.receiver.username == user.username %}
                    <div class="message received {% if forloop.last %}last-message{% endif %}">
                        <span class="message-date">
                            {{ message.date|date:"H:i" }}
                        </span>
                        {{ message.text }}
                    </div>
                {% elif message.sender.username == user.username %}
                    <div class="message sent {% if forloop.last %}last-message{% endif %}">
                        <span class="message-date">
                            {{ message.date|date:"H:i" }}
                        </span>
                       {{ message.text }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="message-input">
            <input  id="message-input" type="text" placeholder="Type your message..." required>
            <button id="message-form">Отправить</button>
        </div>
    </div>
</body>
<script>
        const chatId = '{{ chat_between.id }}';
        const receiverId = {% if chat_between.first_user.id == user.id %}
            '{{ chat_between.second_user.id }}';
        {% else %}
            '{{ chat_between.first_user.id }}';
        {% endif %}

        const userId = '{{ user.id }}';

        const chatSocket = new WebSocket(`ws://${window.location.host}/ws/chat/${chatId}/`);
        console.log(chatSocket.url)

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            const messagesContainer = document.getElementById('messages');
            const messageDiv = document.createElement('div');

            messageDiv.classList.add('message', String(data.sender) !== String(receiverId) ? 'sent' : 'received');
            messageDiv.innerHTML = `
                <span class="message-date">${new Date(data.timestamp).toLocaleTimeString()}</span>
                ${data.message}
            `;
            messagesContainer.appendChild(messageDiv);
            messagesContainer.scrollTop = messagesContainer.scrollHeight;
            
            const lastMessage = document.querySelector('.last-message');
            if (lastMessage){
                lastMessage.textContent = data.message;
            }
            
            
        };


        const button = document.getElementById('message-form');

        button.addEventListener('click', function () {
            console.log("Hello Button");

            const messageInput = document.getElementById('message-input');
            const message = messageInput.value.trim();

            if (message === '') return;


            chatSocket.send(
                JSON.stringify({
                    message: message,
                    chat_id: chatId,
                    sender: {{ user.id }},
                    receiver: receiverId,
                })
            );

            messageInput.value = '';
        });



        window.onbeforeunload = function () {
            chatSocket.close();
        };
</script>
<script src="{% static 'js/ws.js' %}">
</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
    const messagesContainer = document.querySelector('.chat-messages'); // Правильный селектор

    // Функция для прокрутки вниз
    const scrollToBottom = () => {
        if (messagesContainer) {
            messagesContainer.scrollTop = messagesContainer.scrollHeight;
        }
    };

    // Скроллим вниз при загрузке страницы
    scrollToBottom();

    // Если новые сообщения добавляются динамически:
    const observer = new MutationObserver(() => {
        scrollToBottom();
    });

    // Следим за изменениями в контейнере сообщений
    if (messagesContainer) {
        observer.observe(messagesContainer, { childList: true });
    }
});

</script>
</html>


