<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'messenger/profile.css' %}">
</head>
<body>
    <div class="profile-container">
        <div class="profile-header">
            <div class="avatar-container">
                {% if user_object.photo %}
                    <img src="{{ user_object.photo.url }}" class="avatar">
                {% else %}
                    <img src="{% static 'no-profile-picture-icon.webp' %}" alt="User Avatar" class="avatar">
                {% endif %}
                {% if is_online %}
                    <span class="online-status"></span>
                {% endif %}
            </div>
            <div class="user-info">
                <h2 class="username">{{ user_object.username }}</h2>
                {% if is_online %}
                    <p class="status">Online</p>
                {% endif %}
            </div>
        </div>

        <div class="profile-details">
            <h3>Profile Details</h3>
            <ul>
                <li><strong>Email:</strong> {{ user_object.email }}</li>
                {% if user_object.first_name%}
                    <li><strong>First Name:</strong> {{ user_object.first_name }}</li>
                {% else %}
                    <li><strong>First Name:</strong>Not given</li>
                {% endif %}
                {% if user_object.last_name %}
                    <li><strong>Last Name:</strong> {{ user_object.last_name }}</li>
                {% else %}
                    <li><strong>First Name:</strong> Not given</li>
                {% endif %}

            </ul>
        </div>

        <div class="action-buttons">
            <form method="get" action="{% url 'add_user_to_chat' user.username %}">
                {% csrf_token %}
                <button class="edit-btn-sub" style="" type="submit">Write</button>
            </form>
            <a class="logout-btn" href="{% url 'index' %}">Go back</a>
        </div>
    </div>
</body>
</html>
